name: CI

on: [push]

jobs:
  build:
    name: Build LazyMan
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Cache Pods
      id: cache-pods
      uses: actions/cache@v1
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pods-
    - name: Install Pods
      run: pod install
    - name: Choose Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '12.5.1'
    - name: Install dpkg
      run: brew install dpkg
    - name: Checkout ldid
      uses: actions/checkout@v1
      with:
        repository: xerub/ldid
        ref: master
        submodules: recursive
    - name: Install ldid2
      run: |
        cd $GITHUB_WORKSPACE/../ldid
        ./mk.sh
        chmod +x ldid2
        cp ldid2 /usr/local/bin/ldid2
    - name: Generate build number
      uses: einaregilsson/build-number@v3
      with:
        token: ${{ secrets.github_token }}
    - name: Build App
      run: make archive
    - name: Build Assets
      run: make ipa deb
    # upload-artifact@v2 should fix this hack
    - name: Set Artifact Variables
      id: artifact-variables
      run: |
        echo "::set-output name=ipa_name::$(basename $(find build/*.ipa))" >> artifacts
        echo "::set-output name=ipa_path::$(find build/*.ipa)"
        echo "::set-output name=deb_name::$(basename $(find build/*.deb))"  >> artifacts
        echo "::set-output name=deb_path::$(find build/*.deb)"
        cat artifacts
    - name: Upload Artifact (ipa)
      uses: actions/upload-artifact@v1
      with:
        name: ${{ steps.artifact-variables.outputs.ipa_name }}
        path: ${{ steps.artifact-variables.outputs.ipa_path }}
    - name: Upload Artifact (deb)
      uses: actions/upload-artifact@v1
      with:
        name: ${{ steps.artifact-variables.outputs.deb_name }}
        path: ${{ steps.artifact-variables.outputs.deb_path }}
    # A gross hack until we get wildcards for uploading/downloading artifacts
    - name: Upload Artifact (artifact nanes)
      uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: artifacts
  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Download Artifact (names)
      uses: actions/download-artifact@v1
      with:
        name: artifacts
        path: artifacts
    - name: Set Artifact Variables
      id: artifact-variables
      run: cat artifacts/artifacts
    - name: Download Artifact (ipa)
      uses: actions/download-artifact@v1
      with:
        name: ${{ steps.artifact-variables.outputs.ipa_name }}
        path: ${{ steps.artifact-variables.outputs.ipa_name }}
    - name: Download Artifact (deb)
      uses: actions/download-artifact@v1
      with:
        name: ${{ steps.artifact-variables.outputs.deb_name }}
        path: ${{ steps.artifact-variables.outputs.deb_name }}
    - name: Create Release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
        prerelease: (contains(github.ref, 'alpha') || contains(github.ref, 'beta'))
    - name: Upload Release Asset (ipa)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }} 
        asset_path: ${{ steps.artifact-variables.outputs.ipa_name }}/${{ steps.artifact-variables.outputs.ipa_name }}
        asset_name: ${{ steps.artifact-variables.outputs.ipa_name }}
        asset_content_type: application/octet-stream
    - name: Upload Release Asset (deb)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }} 
        asset_path: ${{ steps.artifact-variables.outputs.deb_name }}/${{ steps.artifact-variables.outputs.deb_name }}
        asset_name: ${{ steps.artifact-variables.outputs.deb_name }}
        asset_content_type: application/octet-stream
